* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #aa99b9, #8861a8);
}
.rating-box {
    position: relative;
    background: #fff;
    padding: 25px 50px 25px;
    border-radius: 20px;
    box-shadow: 0 0 8px #ff9c1a;
}
.rating-box header {
    font-size: 22px;
    color: rgb(132, 128, 128);
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: color 0.5s ease;
}
.fa-star {
    color: rgb(173, 172, 172);
    font-size: 30px;
    cursor: pointer;
}
.fa-star.active {
    color: #ff9c1a;
}